<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itmo.eva.mapper.SystemMapper">

    <resultMap id="BaseResultMap" type="com.itmo.eva.model.entity.System">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="level" column="level" jdbcType="INTEGER"/>
            <result property="kind" column="kind" jdbcType="INTEGER"/>
            <result property="sid" column="sid" jdbcType="INTEGER"/>
            <result property="eName" column="sid" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,level,
        kind,sid
    </sql>
</mapper>
