<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itmo.eva.mapper.TeacherMapper">

    <resultMap id="BaseResultMap" type="com.itmo.eva.model.entity.Teacher">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="sex" column="sex" jdbcType="TINYINT"/>
            <result property="age" column="age" jdbcType="INTEGER"/>
            <result property="position" column="position" jdbcType="INTEGER"/>
            <result property="title" column="title" jdbcType="INTEGER"/>
            <result property="major" column="major" jdbcType="INTEGER"/>
            <result property="email" column="email" jdbcType="VARCHAR"/>
            <result property="identity" column="identity" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,sex,
        age,position,title,
        major,email,identity
    </sql>
</mapper>
